body {
    font-family: 'Roboto', sans-serif;
    background-color: bisque;
}
nav ul {
    list-style: none;
    display: flex;
    margin-left: 600px;
}
nav ul li {
    margin-right: 50px;
    margin-top: 15px;
}
nav ul li a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header
{
    display: flex;
}

.color-red
{
    color:red;
}